@import "../../../properties.scss";

.pageRoot {
  position: relative;
}

.navigationHeader {
  position: fixed;
  z-index: $z-header;
  width: calc(100% - #{$space-2x} * 2);
}

#anchor {
  display: none;
}

.tabPanel section {
  margin-top: $space-3x;
}

.tabPanel .heading,
.tabPanel .subHeading {
  padding-right: $space-2x;
  padding-left: $space-2x;
}