@import "../../../properties.scss";

.manaCostItemList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

.manaCostItem {
  display: flex;
  flex-direction: center;
  align-items: center;
}

.manaCostItem.large:nth-child(n+2) {
  margin-left: $space;
}

.manaCostItem.medium:nth-child(n+2),
.manaCostItem.small:nth-child(n+2) {
  margin-left: calc(#{$space} / 2);
}