@import "../../../properties.scss";

.tabBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  width:100%;
  background-color: $color-base-aft;
}

.tabBarItem {
  width:100%;
}

.tabBarLink {
  width: 100%;
  font-size: $font-size-l;
  line-height: $font-size-l;
  padding: calc(#{$space} * 1.5) 0 calc(#{$space} * 2) 0;
  color: $color-text-mute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabBarLink.active {
  color: $color-primary;
}