@import "../../../properties.scss";

$icon-button-size-l: 2rem;
$icon-button-size-m: 1.5rem;
$icon-button-size-s: 1rem;

.iconButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.iconButton:hover {
  cursor: pointer;
}

.iconButton.large {
  font-size: $font-size-l;
  width: $icon-button-size-l;
  height: $icon-button-size-l;
}

.iconButton.medium {
  font-size: $font-size-m;
  width: $icon-button-size-m;
  height: $icon-button-size-m;
}

.iconButton.small {
  font-size: $font-size-s;
  width: $icon-button-size-s;
  height: $icon-button-size-s;
}

.iconButton.primary {
  color: $color-primary;
}

.iconButton.secondary {
  color: $color-secondary;
}

.iconButton.text {
  color: $color-text;
}

.iconButton.muteText {
  color: $color-text-mute;
}
