@import "../../../properties.scss";

.cardImage {
  object-fit: cover;
  border-radius: $radius;
  display: block;
}

.thumbnail {
  width: 5.66rem;
  height: 4.25rem;
}

.deckThumbnail {
  width: 7rem;
  height: 5.25rem;
}

.cover {
  width: 231px;
  height: 170px;
}

.preview {
  width: 290px;
  border-radius: 14px;
}
