.searchBar {
  display: flex;
  flex-direction: row;
}

.searchBarWrap {
  display: flex;
  flex-direction: column;
}

.tags {
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
}

.tags li {
  display: inline-block;
}